<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to the Application Generator!</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1 class="landH1">Ideation</h1>
      <h1 class="landH1">Welcome to the Application Generator!</h1>
	<p class="landP">Ideation is the creative process of generating, developing, 
		and communicating new ideas. Whether you're stuck from 
		brainstorming, need and app idea for bootcamp projects, or just for fun
		this app is designed to generate an application tailored to your needs 
		with just a few clicks.</p>
	<button class="landButt">Get started</button>

      
        {{!-- <span role="img" aria-label="money">💸</span>
        <a href="/">Fund My Project!</a> --}}
      
      <nav>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/profile">profile</a> |
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
