<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Generated Idea:</h3>
        <div class="card-body">
      <textarea readonly id="generatedIdea" placeholder="App Inspiration Here!" aria-label="Generated Idea">
        </textarea>
    </div>

        <div class="form-group"> 
            <button type="submit" class="btn btn-primary newIdea" id="generateButton">Generate New Idea</button>
            <button type="submit" class="btn btn-success" id="saveIdea">Save Idea</button>
        </div>

    <form class="form new-idea-form">
    <h3>Create a New Idea:</h3>
      <div class="form-group">
        <label for="idea-desc">What is your app idea?</label>
        <textarea class="form-input" id="idea-desc" name="idea-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if ideas.length}}
  <div class="col-md-6 idea-list">
    <h3>Current Ideas:</h3>

    {{#each ideas as |idea|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/idea/{{idea.id}}">{{idea.description}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{idea.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>
