/* header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
} */
*, *::before, *::after {
  background-color: #e8e8e8;
}

.landBody {
  font-family: Arial, sans-serif;
  text-align: center;
}

.landH1 {
  font-size: 3rem;
  color: #333;
  margin-top: 50px;
}

.landP {
  font-size: 1.5rem;
  color: #666;
  margin: 20px 175px 20px 175px;
  line-height: 1.5;
}

.landButt {
  background-color: #c19cef;
  color: #fff;
  font-size: 2rem;
  padding: 20px 30px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-top: 350px;
  display: flex
}

.landButt:hover {
  background-color: #0062cc;
}

@media screen and (max-width: 900px) {
   .landP {
   margin: 20px 50px 20px 50px
  }
}
@media screen and (max-width: 600px) {
  .landButt {
    margin-top: 100px;
  }
}